.important{
	color: red;
}

table{
	border: solid 2px black;
}

/*
select {
    padding:3px;
    margin: 0;
    border-radius:4px;
    background: white;
	cursor:pointer;
}


select .rouge{
	background-color: #FF0000;
	color:#FF0000;
}

select .jaune{
	background-color: #FFFF00;
	color:#FFFF00;
}

select .vert{
	background-color: #00FF00;
	color:#00FF00;
}

select .bleu{
	background-color: #0101DF; 
	color:#0101DF;
}

select .orange{
	background-color: #FF8000; 
	color:#FF8000;
}

select .blanc{
	background-color: #FFFFFF; 
	color:#FFFFFF;
}

select .violet{
	background-color: #8904B1; 
	color:#8904B1;
}

select .fushia{
	background-color: #DF01D7; 
	color:#DF01D7;
}*/